langchain
langchain_community
langchain-community
langchain_core
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
ipykernel
pypdf
bs4
arxiv
pymupdf>=1.23
wikipedia
langchain-text-splitters
chromadb
langchain_ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
langchain_community
langgraph-cli[inmem]
ipykernel